

#myNavbar {
  float:right;
}
.navbar {
  background-color: #bd1f50;
  height: 60px;
  list-style: none;
  border-bottom: 1px solid #bd1f50;
  border-top: 1px solid #bd1f50;
  padding-top:4px;
}
.nav li a{
  color: #fff;
}

.nav li a:hover{
  color: #bd1f50;
  border: 2px solid #bd1f50;
  border-radius: 10px;
}
.navbar-brand {
  color: #fff;
  padding-left:50px;
}
.navbar-brand:hover {
  color: #fff;
}
.jumbotron {
  background: url(https://c.wallhere.com/photos/8b/22/PC_gaming_Lenovo_computer_hardware_technology_headphones_keyboards_laptop-84526.jpg!d) no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 50vh;
  }

   .banner-h1 { 
     font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; 
     font-size: 45px; 
     font-style: italic; 
     color:#fff;
   }
   .banner-h3 {
     font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; 
     font-size: 45px; 
     font-style: italic; 
     color:#fff
   }

   .banner-h2 {
     font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; 
     font-size: 45px; 
     font-style: italic; 
     color:#fff
   }
   .rounded-circle {
    border-radius: 50%;
    width:80%;
    height: 220px;
}